.texto_transicion{
  color: red;
  transition: all 2s ease;
}

.transicion:hover{
  font-family: "Cookie";
  font-size: 64px;
  transform: rotate(15deg) scale(1.5);
  -webkit-filter: invert(1);
}

.triangulo{

width: 0;
height: 0;
margin: 0 auto;
text-align: center;
border-left: 95px solid transparent;
border-right: 95px solid transparent;
border-bottom: 100px solid yellow;
}

.caja{
	background-color: yellow;
	margin:0 auto;
	padding: 10px;
	width:120px;
	text-align: center;
}

.circulo {
  padding: 1px;
	background-color: grey;
	display: block;
	width: 95px;
	height: 95px;
	margin: 0 auto;
  border-color: black;
	border-radius: 75px;
	margin: 5px auto;
}

#negro{
  margin-top: 0px;
  padding: 0px;
  width: 105px;
  height: 105px;
  background-color: black;
}
#rojo{
	background-color: red;
}
#amarillo{
	background-color: orange;
}
#verde {
	background-color: green;
}

.caja2{

	background-color: dimgray;
	margin:0 auto;
  margin-bottom: 2rem;
	padding: 10px;
	width:80px;
  height: 50px;
	text-align: center;
}
