.anuncis{
  padding: 2rem;
  border: 1px #4527A0 solid;
}

.anunci{

  padding-top: 1rem;
}

.article_destacat{

  background-color: #f4f5bc;
  border: 2px solid;
  border-color: #4527A0;
  border-bottom-right-radius: 10px;
  margin-bottom: 2rem;"
}

.article_principal{

  background-color: #f4f5bc;
  border: 2px solid;
  border-color: #4527A0;
  margin-bottom: 2rem;"
  color: #4527A0;

}

.contenido{

  padding: 2rem;
}
