
.fondo_lila{

  background-color: #4527A0;
}

.fondo_amarillo{

  background-color: #f4f5bc;
}

.color_lila{

  color: #4527A0;"
}

.fondo_imagen_principal{

    background-image: url(../multimedia/img/fondo_principal.jpg);
    background-position: center center;
    background-size: cover;

}

.fondo_footer{

  background-image: url(../multimedia/img/imagenconcierto.jpg);
  background-position: center center;
  background-size: cover;
}

.padding_izquierdo{

  padding-left: 2rem;
}

.padding_derecho{

  padding-right: 2rem;
}

.padding_superior{
  padding-top: 1rem;
}

.padding_inferior{
  padding-bottom: 1rem;
}

.iconomastexto{

  display:flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 20px;

}

.facebook{

  margin-left: 2rem;
  margin-right: 2rem;
  background-color: blue;

}

.boton{

  background-color: green;
  color: white;
}
