body{
  background-color:  rgba(245, 204, 204, 0.75);
}



.barra_inicial{

  background-color: #4527A0;
  padding-left: 2rem;
  padding-right: 2rem;

}

.barra_inicial a{

  color: white;
  text-decoration: underline;
}

.barra_busqueda{
  margin-top: 4rem;
}

.cuadre_busqueda{

  width: 80%;
  height: 50px;
}

.boto{

  background-color: #f4f5bc;
  color: #4527A0;
  height: 50px;
}

.titulo{

  color: white;
  padding-top: 1rem;
  padding-left: 2rem;

}

.cuadro_estilos{


  padding-top: 1rem;

  border: 1px #4527A0 solid;
}

.titulo_categorias{

  border-bottom: 1px #4527A0 solid;
  padding-bottom: 1rem;

}

.estilo{

  padding-left: 2rem;
  padding-top: 1rem;
  padding-right: 1rem;

}

.estilo a{
    color: #4527A0;
}

.padding_top_1rem{

  padding-top: 1rem;
}

.concert{

  margin-top: 2rem;
  background-color: #f4f5bc;
  border: 2px solid;
  border-color: #4527A0;
  border-bottom-right-radius: 10px;
  margin-bottom: 2rem;"
}
